* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    background-color: rgb(220, 220, 220);
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 400px;
    margin: 0 auto;
    grid-auto-rows: 100px, auto;
}

#wrapper div {
    background-color: white;
    padding: 20px;
}